<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/index.css">
    <title></title>
  </head>
  <body>
    <h1>Rhythm is a Maker</h1>
    <ul>
      <li>Click on the checkboxes to compose your beat</li>
      <li>Press the <strong>play</strong> button to start the loop</li>
      <li>Press the <strong>stop</strong> button to end the loop</li>
    </ul>
    <hr>
    <div class="on-container">
      <i class="fas fa-play powerOn"></i>
      <i class="fas fa-stop-circle stop"></i>
    </div>
    <div>
      <div>
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>

        <div>
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
          <input type="checkbox">
        </div>

        <div>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
  </div>
  <div class="counter">
    <h1 class="count-loop c-0"></h1>
    <h1 class="count-loop c-1"></h1>
    <h1 class="count-loop c-2"></h1>
    <h1 class="count-loop c-3"></h1>
    <h1 class="count-loop c-4"></h1>
    <h1 class="count-loop c-5"></h1>
    <h1 class="count-loop c-6"></h1>
    <h1 class="count-loop c-7"></h1>
    <h1 class="count-loop c-8"></h1>
    <h1 class="count-loop c-9"></h1>
    <h1 class="count-loop c-10"></h1>
    <h1 class="count-loop c-11"></h1>
    <h1 class="count-loop c-12"></h1>
    <h1 class="count-loop c-13"></h1>
    <h1 class="count-loop c-14"></h1>
    <h1 class="count-loop c-15"></h1>
  </div>
    <script src="/javaScript/socket.js"></script>
    <script src="https://unpkg.com/tone"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="/javaScript/tone.js"></script>
  </body>
</html>
