<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Bungee|Bungee+Shade|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/404page.css">
    <title>Document</title>
</head>
<body>
  <div class="error404">
     <div class="img-container">
        <img src="/images/monster.svg" alt="404Page">
        <div id="wrapper">
            <h1 class="mgs">OOps! Page <br>Not Found.</h1>
            <span id='text'>You must have picked the wrong door becasue I <br>
                haven't been able to lay my eyes on the page <br>
                you have been searching for.
            </span>
            <div id='button'>
             <a href="http://localhost:3000"><span>Back To Home</span></a>
            </div>
        </div>
     </div>
  </div>
</body>
</html>