*{
    outline: 0;
    padding: 0;
    margin: 0;
  }
  :root{
      --b : 'Bungee', cursive;
      --ba: 'Baloo Bhaina', cursive;
      --bu: 'Bungee Shade', cursive;
      --o : 'Open Sans', sans-serif;
  }
  
  body {
    background-color: #FAFAFA;
  }
  .error404{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  
  .img-container {
    background-color:#242424;
    align-self: center;
    width: 50%;
    padding: 40px;
    display: flex;
    border-radius: 4px;
  }
  
  .img-container img{
    width: 300px;
    height: 300px;
    padding: 20px;
  }
  
  .img-container #wrapper {
    background-color: gold;
    padding: 40px;
    border-radius: 2px;
  }
  
  .img-container div .mgs {
    font-family: var(--b);
    padding-bottom: 20px;
  }
  .img-container div #text{
    font-size: 14px;
    font-family: var(--o);
  }
  
  .img-container #wrapper #button{
    padding-top: 40px;
    padding-bottom: 5px;
  }
  
  .img-container #wrapper #button a{
    text-decoration: none;
  }
  
  .img-container #wrapper #button span{
      background-color: #FD1014;
      font-size: 12px;
      padding: 10px;
      border-radius: 4px;
      color: #ffff;
      font-family: var(--o);
      transition: opacity 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  
  .img-container #wrapper #button a:hover span{
    opacity: 0.8;
  }