:root{
  --open:'Open Sans', sans-serif;
  --Robo:'Roboto', sans-serif;
  --Fido :'Fredoka One', cursive;
  --russ: 'Russo One', sans-serif;
  --press: 'Press Start 2P', cursive;
  --baloo: 'Baloo', cursive;
  --titan: 'Titan One', cursive;
  --rubik: 'Rubik Mono One', sans-serif;
}
body{
  background-color: #1F2328;
}
#title-container {
  display: flex;
  justify-content: center;
}

#title-container h1{
  font-family: var(--russ);
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
}
#title-container h1 .logo{
  font-size: 20px;
  color:  #ffff;
  opacity: 0.5;
  transition: color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

#title-container h1 .logo:hover{
  font-size: 25px;
  color: #ffffff;
  opacity: 1;
}
.instruction-container #instructions li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: var(--open);
  font-size: 10px;
}

.button {
  height: 40px;
  width: 40px;
  background-color: #B4B4B4;
  font-family: var(--Robo);
  font-size: 8px;
  color: #ffff;
  border: none;
  border-radius: 5px;
}

 th:nth-child(4n+1) .button  {
  background-color: #777777;
}

.button-active.row-1 {
  background-color: #FF1102 !important;
}

.button-active.row-2 {
  background-color: #FFB602 !important;
}

.button-active.row-3 {
  background-color: #D5FF02 !important;
}

.button-active.row-4 {
  background-color: #06FF02 !important;
}

.button-active.row-5 {
  background-color: #02FFFB !important;
}

.button-active.row-6 {
  background-color: #1D02FF !important;
}

.button-active.row-7 {
  background-color: #7902FF !important;
}

.button-active.row-8 {
  background-color: #F702FF !important;
}

#conter-container th{
  padding: 10px;
}
.counter {
  height: 10px;
  width: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.table-div {
  display: flex;
  justify-content: center;
}
table{
  padding: 10px;
}

.on-container{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.on-container .powerOn, .stop {
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  opacity: 0.5;
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.on-container .powerOn:hover, .stop:hover{
  color: #ffffff;
  opacity: 1;
}

/* hr{
  width: 500px;
  height: 0.5px;
  background-color: #fff;
} */

/*Drum Pad icons*/
.kick{
  width: 20px;
}