:root{
  --open:'Open Sans', sans-serif;
  --Robo:'Roboto', sans-serif;
}
body{
  background-color: #1F2328;
}
#title-container {
  display: flex;
  justify-content: center;
}

#title-container h1{
  font-family: 'Permanent Marker', cursive;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
}
#title-container h1 .logo{
  font-size: 20px;
  color:  #ffff;
  opacity: 0.5;
  transition: color 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

#title-container h1 .logo:hover{
  font-size: 25px;
  color: #ffffff;
  opacity: 1;
}
.instruction-container #instructions li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: var(--open);
  font-size: 10px;
}

.button {
  height: 35px;
  width: 35px;
  background-color: #B4B4B4;
  font-family: var(--Robo);
  font-size: 8px;
  color: #B4B4B4;
  border: none;
  border-radius: 5px;
}

 th:nth-child(4n+1) .button  {
  background-color: #777777;
  color: #777777;
}

.button-active.row-1 {
  background-color: #FF1102 !important;
  color: #FF1102 !important;
}

.button-active.row-2 {
  background-color: #FFB602 !important;
  color: #FFB602 !important;
}

.button-active.row-3 {
  background-color: #D5FF02 !important;
  color: #D5FF02 !important;
}

.button-active.row-4 {
  background-color: #06FF02 !important;
  color: #06FF02 !important;
}

.button-active.row-5 {
  background-color: #02FFFB !important;
  color: #02FFFB !important;
}

.button-active.row-6 {
  background-color: #1D02FF !important;
  color: #1D02FF !important;
}

.button-active.row-7 {
  background-color: #7902FF !important;
  color: #7902FF !important;
}

.button-active.row-8 {
  background-color: #F702FF !important;
  color: #F702FF !important;
}

#conter-container th{
  padding: 10px;
}
.counter {
  height: 10px;
  width: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.table-div {
  display: flex;
  justify-content: center;
}
table{
  padding: 10px;
}

.on-container, .bpm{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.on-container .powerOn, .stop, .bpm {
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  opacity: 0.5;
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1)
}

.on-container .powerOn:hover, .stop:hover{
  color: #ffffff;
  opacity: 1;
}

/*Drum Pad icons*/

.kick{
  width: 16px;
}

.keyboard-container {
  display: flex;
  justify-content: center;
}

.keyboard {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.key {
  font-size: 12px;
}

.white-key {
  width: 40px;
  height: 120px;
  background-color: white;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
  padding-top: 90px;
}

.black-key {
  color: white;
  padding-top: 50px;
  position: absolute;
  width: 24px;
  height: 80px;
  background-image: linear-gradient(black, gray);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

#Db4 {
  left: 22px;
}

#Eb4 {
  left: 58px;
}

#Gb4 {
  left: 130px;
}

#Ab4 {
  left: 166px;
}

#Bb4 {
  left: 202px;
}

#Db5 {
  left: 274px;
}

#Eb5 {
  left: 310px;
}

#Gb5 {
  left: 382px;
}

#Ab5 {
  left: 418px;
}

#Bb5 {
  left: 454px;
}

#C4.active-key {
  background-color: #FF0202;
}

#Db4.active-key {
  background-image: linear-gradient(black, #FF6D02);
}

#D4.active-key {
  background-color: #FF9B02;
}

#Eb4.active-key {
  background-image: linear-gradient(black, #FFCD02);
}

#E4.active-key {
  background-color: #FFFF02;
}

#F4.active-key {
  background-color: #C9FF02;
}

#Gb4.active-key {
  background-image: linear-gradient(black, #9BFF02);
}

#G4.active-key {
  background-color: #66FF02;
}

#Ab4.active-key {
  background-image: linear-gradient(black, #30FF02);
}

#A4.active-key {
  background-color: #02FF02;
}

#Bb4.active-key {
  background-image: linear-gradient(black, #02FF34);
}

#B4.active-key {
  background-color: #02FF6A;
}

#C5.active-key {
  background-color: #02FF9B;
}

#Db5.active-key {
  background-image: linear-gradient(black, #02FFCD);
}

#D5.active-key {
  background-color: #02FFFF;
}

#Eb5.active-key {
  background-image: linear-gradient(black, #02CDFF);
}

#E5.active-key {
  background-color: #029BFF;
}

#F5.active-key {
  background-color: #0266FF;
}

#Gb5.active-key {
  background-image: linear-gradient(black, #0234FF);
}

#G5.active-key {
  background-color: #0202FF;
}

#Ab5.active-key {
  background-image: linear-gradient(black, #3402FF);
}

#A5.active-key {
  background-color: #6602FF;
}

#Bb5.active-key {
  background-image: linear-gradient(black, #3402FF);
}

#B5.active-key {
  background-color: #9B02FF;
}

#C6.active-key {
  background-color: #D502FF;
}

.effectSlider{
  color: white;
  font-family: 'Kalam', cursive;
  text-align: center;
}
