*{
  outline: 0;
  padding: 0;
  margin: 0;
}
:root{
  --open:'Open Sans', sans-serif;
  --Robo:'Roboto', sans-serif;
  --bradius: 5px;
  --mons: 'Montserrat', sans-serif;
}

body{
  padding: 20px;
}

/*Gird layout*/

.grid{
  display: grid;
  height: 95vh;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
}

.box-1{
  grid-row-start: 1;
  grid-row-end: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FAFAFA;
  border-top-left-radius: var(--bradius);
  border-top-right-radius: var(--bradius);
}
.box-1 #title{
  font-size: 25px;
  padding-top: 20px;
  flex-grow: 1;
  align-self: center;
  font-family: 'Permanent Marker', cursive;
}
.box-1 .instructions{
  flex-grow: 5;
  background-color: #121A2F;
}

.box-1 .instructions h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: var(--mons);
  color: #fff;
}
.box-2-dashboard{
  background-color: #FAFAFA;
  grid-row-start: 1;
  grid-row-end: 8;
  border-top-left-radius: var(--bradius);
  border-top-right-radius: var(--bradius);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.box-3-chat{
  background-color: blue;
  grid-row-start: 1;
  grid-row-end: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--bradius);
}

.box-4-keyboard{
  background-color: #1C1C1C;
  grid-row-start: 8;
  grid-row-end: 10;
  padding-top: 10px;
  border-radius: var(--bradius);
}

/*Keyboard*/

.keyboard-container {
    display: flex;
    justify-content: center;
  }
  
  .keyboard {
    display: flex;
    position: relative;
    margin-left: 4px;
  }
  
  .white-key {
    width: 40px;
    height: 120px;
    background-color: white;
    border: 4px solid black;
    border-radius: 0 0 6px 6px;
    margin-left: -4px;
  }
  
  .black-key {
    position: absolute;
    width: 24px;
    height: 80px;
    background-image: linear-gradient(black, gray);
    border: 3px solid black;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
  }
  
  .Db4-key {
    left: 22px;
  }
  
  .Eb4-key {
    left: 58px;
  }
  
  .Gb4-key {
    left: 130px;
  }
  
  .Ab4-key {
    left: 166px;
  }
  
  .Bb4-key {
    left: 202px;
  }
  
  .Db5-key {
    left: 274px;
  }
  
  .Eb5-key {
    left: 310px;
  }
  
  /*Dashboad*/
.table-div {
  display: flex;
  background-color:#1D1D1D;
  justify-content: center;
  height: 85%;
}

.table-div table{
  padding: 1px;
  align-self: center;
}

.button {
  height: 35px;
  width: 35px;
  background-color: #B4B4B4;
  font-family: var(--Robo);
  font-size: 8px;
  color: #ffff;
  border: none;
  border-radius: 5px;
  }

  /*Images*/
  .kick{
    width: 16px;
  }

  /*bpm*/
span .minus{
  color: #303030;
  padding: 10px;
  font-size: 10px;
}

span .plus{
  color: #303030;
  padding: 10px;
  font-size: 10px;
}

#v{
  color: red;
  padding: 10px;
  font-size: 10px;
}

/*On and Off*/
.on-container .powerOn, .stop{
  color: #303030;
  opacity: 1;
}

.on-container .powerOn:hover{
  color: red;
  opacity: 0.5;
}
.on-container .stop:hover{
  color: #BFA68F;
  opacity: 0.5;
}

/*Chat*/
.box-3-chat #chat-title{
  background-color: #B4B4B4;
  font-family: var(--mons);
  color: white;
  text-align: center;
}

.box-3-chat .chat-mgs{
  background-color:red;
  font-family: var(--mons);
  color: white;
  /* text-align: center; */
  flex-grow: 3;
}

.box-3-chat .chat-mgs #content{
  background-color:green;
  overflow: scroll;
  height: 550px;
}
