* {
  outline: 0;
  padding: 0;
  margin: 0;
}

:root {
  --open: 'Open Sans', sans-serif;
  --Robo: 'Roboto', sans-serif;
  --bradius: 5px;
  --mons: 'Montserrat', sans-serif;
}

body {
  padding: 20px;
}

/*Gird layout*/

.grid {
  display: grid;
  height: 95vh;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
}

.box-1 {
  color: white;
  grid-row-start: 1;
  grid-row-end: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: darkgrey; */
  border-top-left-radius: var(--bradius);
  border-top-right-radius: var(--bradius);
}

.box-1 #title {
  font-size: 25px;
  padding-top: 20px;
  flex-grow: 1;
  align-self: center;
  font-family: 'Permanent Marker', cursive;
}

.box-1 .instructions {
  flex-grow: 2000;
  /* background-color: darkgrey; */
  color: white;
  font-family: 'Kalam', cursive;
  text-align: center;
}

.box-1 .instructions h1 {
  /* text-align: right; */
  padding-top: 20px;
  padding-bottom: 5px;
  /* font-family: var(--mons); */
  color: #fff;
}

.box-2-dashboard {
  /* background-color: darkgrey; */
  color: white;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: var(--bradius);
  font-family: 'Kalam', cursive;
}

.box-3-chat {
  /* background-color: darkgrey; */
  color: white;
  grid-row-start: 1;
  grid-row-end: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--bradius);
  font-family: 'Kalam', cursive;
}

.box-4-keyboard {
  /* background-color: #1C1C1C; */
  grid-row-start: 5;
  grid-row-end: 10;
  padding-top: 10px;
  border-radius: var(--bradius);
}

/*Keyboard*/

.keyboard-container {
  display: flex;
  justify-content: center;
}

.keyboard {
  display: flex;
  position: relative;
  margin-left: 4px;
}

.white-key {
  width: 40px;
  height: 120px;
  background-color: white;
  border: 4px solid black;
  border-radius: 0 0 6px 6px;
  margin-left: -4px;
}

.black-key {
  position: absolute;
  width: 24px;
  height: 80px;
  background-image: linear-gradient(black, gray);
  border: 3px solid black;
  border-radius: 0 0 2px 2px;
  outline: none;
  cursor: pointer;
}

.Db4-key {
  left: 22px;
}

.Eb4-key {
  left: 58px;
}

.Gb4-key {
  left: 130px;
}

.Ab4-key {
  left: 166px;
}

.Bb4-key {
  left: 202px;
}

.Db5-key {
  left: 274px;
}

.Eb5-key {
  left: 310px;
}

/*Dashboad*/
.table-div {
  display: flex;
  /* background-color: #1D1D1D; */
  justify-content: center;
  height: 85%;
}

.table-div table {
  padding: 1px;
  align-self: center;
}

/*Images*/
.kick {
  width: 16px;
}

/*bpm*/
span .minus {
  /* color: #303030; */
  padding: 10px;
  font-size: 10px;
}

span .plus {
  /* color: #303030; */
  padding: 10px;
  font-size: 10px;
}

#v {
  color: red;
}

/*On and Off*/
.on-container .powerOn,
.stop {
  color: white;
  opacity: 1;
}

.on-container .powerOn:hover {
  color: red;
  opacity: 0.5;
}

.on-container .stop:hover {
  color: #BFA68F;
  opacity: 0.5;
}

/*Chat*/
.box-3-chat #chat-title {
  text-align: center;
  flex-grow: 1;
}

.box-3-chat .chat-mgs {
  text-align: left;
  height: 30px;
  flex-grow: 7;
}

.box-3-chat .chat-mgs #content {
  text-align: left;
  overflow: scroll;
  height: 300px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
